.k {
  color: white;
  margin: 0%;
  border: 1px solid #3b5a79;
  background-color: #3b5a79;
  border-radius: 50%;
  padding: 0px 8px;
}

.kavina {
  color: #b4b4b4;
  margin: 0px 10px;
  font-weight: 400;
}

h4{
    color: #3b5a79;
    /* font-size: 15px; */
    /* font-weight: 400; */
    margin-right: 10px;
}
h2{
    margin: 0%;
    color: #2c3d4f;
}

p {
  color: #a5a5a5;
  font-size: 13px;
  margin: 0%;
}
.paperShadow{
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px ;
}
